/* p{color: grey;}
#para2{
    color:red;
}
p.para3{
    color:yellowgreen ;
}
h2,h3{color: blue;}
*{font-size: larger;} */

/* body{
    background-image: url(Task/istockphoto-1354066820-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
} */

